nav a {
  text-decoration: none;
  display: inline-block;
  font-size:2rem;
  width:310px;
  text-align: center;
  font-weight: bolder;
  margin-left: 25px;
color:#AB46D2;
}
nav a:hover
{
background-color:  #F9D923 ;
color:black;
}
body {
  font-family: 'Merriweather', serif;
  margin-top: 0px;
  background-color: #F9CEEE ;
}
.click
{
  margin:2%;
  margin-left:4%;
  color:blue;
  border:5px solid purple;
  padding:10px;
  border-radius:10px;

}
span a{
text-decoration: none;;
}
  span  h1:hover
{
  background-color:orange;
  color:white;
}
h1
{
  margin:0px;
  display:inline-block;
}
.heading1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size:2.5rem;
    font-family: 'Kaushan Script', cursive;
}

.heading2 {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  left: 96px;
  font-size:1.75rem;
    font-family: 'Kaushan Script', cursive;
}
hr{
  border:2px solid red;
  margin-bottom: 40px;
}
.imagedi
{
  margin-top: 60px;
}
.image1{
  position:absolute;
  left:60%;
}
.image2
{
  position:absolute;
  left:60%;
}

li{
  list-style: none;
}

.logo {
  position: absolute;
  left: 250px;
  width: 5%;
}
.navi
{
  margin-top:20px;
  border:2px solid green;
  padding:20px;
  border-radius:30px;
  padding-left:70px;
  padding-right:70px;
  background-image:radial-gradient(#E8F9FD,#79DAE8,#0AA1DD,#2155CD);
}

.top-div {
  text-align: center;
  position: relative;
  padding: 16px;
}
