a{
  text-decoration: none;
}
a:hover{
  color:blue;
}
.anchor{
  font-weight: 100;
  font-family: serif;
  color:white;
  
}

body{
  margin:0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  /* font-size:1.5rem; */
  color:#7FB5FF;
}
.btn{
  text-decoration: none;
    border:2px solid #11999E;
    padding:1% 3% 1% 3%;
    color:white;
    background-color:#11999E;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
}
.bottom-container{
background-color: #11999E;
padding:1%;
}
.contact-me{
  margin-bottom: 5%;
}
h1
{
  /* 100%==16px  562.5%==90px */
  /* 1em==16px    5.625em==90px; */
  margin-top:0px;
  margin-bottom:0px;
  font-family: 'Kaushan Script', cursive;
  color:#66BFBF;
}
#heading2
{
    color:#66BFBF;
    font-weight: normal;
}
h2
{
  font-size:2.5rem;
  /* color:green; */
}
.htmll
{
  width:75%;
    margin:50px auto 30px auto;
      text-align: left;
}
hr{
  margin:3% auto 3% auto;
  border-top:6px solid #3BACB6;
}
.footerimage{
  width:25%;
  float:left;
  margin-top: 10%;
}
.footer-image{
  width:14%;
  float:left;
  margin-top: 9%;
}
.footer{
  width:30%;
  height:30%;
  margin:0px auto 0px auto;
  display:inline-block;
}
.csss
{
  width: 75%;
    margin:50px auto 30px auto;
      text-align: left;
}
.javascript
{
  width:75%;
      margin:50px auto 30px auto;
      text-align: left;
}
.top-cloud
{
  position:absolute;
  top:70px;
  right:300px;

}
.top-container
{
  padding-top: 150px;
  position:relative;
    background-color: #E4F9F5;
}
.bottom-cloud{
  position: absolute;
  left:200px;
  top:300px;
  margin-top:20px;

}
.middlecontainer
{
  position:relative;

}
.bottomcontainer
{
  margin-top:30px;
}
.logo
{
  padding-top:70px;
  width:75%;
  margin:0 auto 0 auto;
}
.heading
{
  position:relative;
}
.text
{
font-family: 'Source Sans Pro', sans-serif;
}
div p{
  line-height: 2;
      font-size:1.5rem;
}
.height
{
  width:20%;
  float:left;
  margin-right:50px;
}
.height1{
  float:right;
  margin-right: 60px;
}
.logo2
{
  width:25%;
  float:left;
  margin-right: 30px;
}
